<div class="ShadowBox">
    <div class="Box">
      <div class="registerBox">
        <div class="BoxWrapper">
          <div class="BoxTitle">
            <div class="logo" href="#">
              <div class="logo-box">
                <div class="logo-box-lens"></div>
                <div class="logo-box-inner"></div>
              </div>
              <span class="separator">|</span>
              <span class="TestTitle">Register</span>
            </div>
          </div>
          <div class="BoxContent">
            <form>
              <div class="RegisterFormInput">
                <input class="username textInput" name="username" placeholder="Username" [(ngModel)]="username"
                  (blur)="checkUser()" (keyup)="checkFields()" />
                <p class="alert" [hidden]="!usernameError">*Username is required</p>
                <p class="alert" [hidden]="!registerError">*Username is taken</p>
              </div>
              <div class="RegisterFormInput">
                <input type="password" class="password textInput" name="password" placeholder="Password" [(ngModel)]="password"
                  (blur)="checkPass()" (keyup)="checkFields()" />
                <p class="alert" [hidden]="!passwordError">*Password is required</p>
              </div>
              <div class="buttons">
                <button type="submit" class="registerButton" (click)="register()" [disabled]="!areFieldsFilled">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  