/* You can add global styles to this file, and also import other style files */

/* BG */
.bg {
    position: absolute;
    width: 100%;
    background: #FAFAFA;
}

html, body { 
    height: 100%;
}

body {
    height: 1024px;
    width: 1440px; 
    margin-top: 40px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
